.container-fluid{
    padding:0;
}

/* Navbar */

.navbar-custom{

    position:sticky;
    top:0;
    z-index:1000;

    height:75px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;

    background:rgba(15,23,42,.92);
    backdrop-filter:blur(15px);

    box-shadow:0 10px 30px rgba(0,0,0,.18);

    border-bottom:1px solid rgba(255,255,255,.08);
}


/* Logo */

.navbar-brand{

    display:flex;
    align-items:center;
    gap:15px;

    color:white;
    text-decoration:none;
}


.logo-circle{

    width:50px;
    height:50px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#2563eb,#06b6d4);

    color:white;

    transition:.4s;
}

.logo-circle:hover{

    transform:rotate(360deg) scale(1.1);

    box-shadow:0 10px 25px rgba(37,99,235,.5);

}

.navbar-brand h4{

    margin:0;
    font-size:22px;
    font-weight:700;
    letter-spacing:.5px;
}

.navbar-brand small{

    color:#b6c2d1;
    font-size:12px;
}



/* Menu */

.navbar-menu{

    display:flex;
    align-items:center;
    gap:18px;

    list-style:none;

    margin:0;
    padding:0;
}


.navbar-menu li{

    position:relative;
}


.navbar-menu li a{

    display:flex;
    align-items:center;
    gap:8px;

    color:#d7dce5;

    text-decoration:none;

    padding:12px 18px;

    border-radius:10px;

    transition:.35s;

    font-weight:500;
}


/* Hover */

.navbar-menu li:hover a{

    background:rgba(255,255,255,.08);

    color:#4fd1ff;

    transform:translateY(-3px);
}


/* Underline Animation */

.navbar-menu li::after{

    content:"";

    position:absolute;

    bottom:-5px;
    left:50%;

    width:0;

    height:3px;

    background:#00d4ff;

    border-radius:20px;

    transition:.4s;

    transform:translateX(-50%);
}

.navbar-menu li:hover::after{

    width:80%;
}



/* Active */

.navbar-menu li.active a{

    background:linear-gradient(135deg,#2563eb,#06b6d4);

    color:white;

    box-shadow:0 8px 20px rgba(37,99,235,.35);
}


.navbar-menu li.active::after{

    width:80%;
}


/* Logout */

.logout-btn{

    display:flex;
    align-items:center;
    gap:8px;

    border-radius:30px !important;

    padding:0 22px !important;

    height:45px;

    transition:.35s !important;
}

.logout-btn:hover{

    transform:translateY(-3px) scale(1.05);

    box-shadow:0 12px 25px rgba(244,67,54,.35);

}


/* Icons */

mat-icon{

    font-size:20px;
}


/* Responsive */

@media(max-width:992px){

.navbar-custom{

    flex-direction:column;

    height:auto;

    gap:20px;

    padding:20px;
}

.navbar-menu{

    justify-content:center;

    flex-wrap:wrap;
}

}

.userrole{
    color : white;
    margin-right: 0;
}