<div class="container-fluid p-0" *ngIf="haveToken()">

    <nav class="navbar-custom">

        <a class="navbar-brand" routerLink="/home">

            <span class="logo-circle">
                <mat-icon>code</mat-icon>
            </span>

            <div>
                <h4>Angular Dashboard</h4>
                <small>Management System</small>
            </div>

        </a>

        <ul class="navbar-menu">

            <li [class.active]="activeMenu === 'home'">
                <a routerLink="/home">
                    <mat-icon>home</mat-icon>
                    Home
                </a>
            </li>

            <li [class.active]="activeMenu === 'users'">
                <a (click)="goToUsers()">
                    <mat-icon>group</mat-icon>
                    Users
                </a>
            </li>

            <li [class.active]="activeMenu === 'products'">
                <a (click)="goToProduct()">
                    <mat-icon>inventory_2</mat-icon>
                    Products
                </a>
            </li>

            <li [class.active]="activeMenu === 'fairs'">
                <a (click)="goToFairs()">
                    <mat-icon>festival</mat-icon>
                    Fairs
                </a>
            </li>

        </ul>

        
        <p class="userrole">{{ userRole }}</p>
        <button
            mat-raised-button
            color="warn"
            class="logout-btn"
            (click)="onLogOut()">

            <mat-icon>logout</mat-icon>
            Logout

        </button>

    </nav>

</div>